@import './base.css';
@import './components.css';

#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--primary-color);
  transition: var(--transition-base);
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    color: var(--primary-dark);
    text-decoration: underline;
  }
}
